body{
  background-color: rgb(89, 40, 120);
  font-family: Verdana;
  font-size: 18px;
  margin: auto;
  max-width: 1000px;
}
h2, h3{
  color: rgb(187, 155, 196);
}
p, ol, ul{
  color: rgb(249, 235, 250);
}
h1, a{
  color: rgb(187, 155, 196);
}
h1{
  padding: 10px;
}

